body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
	background: linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
a
  color: #0069FF
#container
	width: 450px
	margin: 0 auto
	padding: 40px 20px
	background: #fff
	box-shadow:1px 3px 3px #333
	border-radius: 5px
#logo
	text-align: center
#display
	margin: 20px 0 50px
#userbar
	margin-bottom: 10px
#webcalender table 
	width: 100%
	border-collapse: collapse
	cursor: default
#webcalender .wochentage
	border: 1px solid black
	background: #1e5799;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
#webcalender td 
	background-image: linear-gradient(bottom, rgb(205,209,208) 47%, rgb(247,247,247) 84%);
	background-image: -o-linear-gradient(bottom, rgb(205,209,208) 47%, rgb(247,247,247) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(205,209,208) 47%, rgb(247,247,247) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(205,209,208) 47%, rgb(247,247,247) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(205,209,208) 47%, rgb(247,247,247) 84%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, rgb(205,209,208)),
		color-stop(0.84, rgb(247,247,247)));
	width: 14%
	border: 1px solid black
	vertical-align: top
	padding-bottom:2%
	height: 5em
#webcalender a:link
#webcalender a:visited 
	text-decoration: none
#webcalender #jahr 
	font-family: monospace
	font-size: 1.5em
	padding: 0
	margin: 0
	text-align: center
#webcalender #monat 
	font-family: monospace
	font-size: 2em
	padding: 0
	margin: 0
	text-align: center
#webcalender #jahr span,
#webcalender #monat span
	background: transparent
#webcalender #tage 
	background-color: black
	color: white
	font-family: monospace
#webcalender .datum,
#webcalender .leer 
	font-family: monospace
	float: left
	width: 1.3em
	height: 1.3em
	font-size: 1em
	color: black
	text-align: center
	cursor: default
#webcalender .datum
	background: #ccc
#webcalender .leer
	background: transparent
#webcalender .delete
	background: #e73827;
	background: -moz-linear-gradient(top, #e73827 0%, #f02f17 29%, #f6290c 55%, #f16f5c 65%, #f85032 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e73827), color-stop(29%,#f02f17), color-stop(55%,#f6290c), color-stop(65%,#f16f5c), color-stop(100%,#f85032));
	background: -webkit-linear-gradient(top, #e73827 0%,#f02f17 29%,#f6290c 55%,#f16f5c 65%,#f85032 100%);
	background: -o-linear-gradient(top, #e73827 0%,#f02f17 29%,#f6290c 55%,#f16f5c 65%,#f85032 100%);
	background: -ms-linear-gradient(top, #e73827 0%,#f02f17 29%,#f6290c 55%,#f16f5c 65%,#f85032 100%);
	background: linear-gradient(top, #e73827 0%,#f02f17 29%,#f6290c 55%,#f16f5c 65%,#f85032 100%);
	border: 1px solid black
	margin-top:5%
	margin-left:5%
	display: block
	float: left
	width: 1.1em
	height: 1.1em
	text-align: center
	color: black
	font-size: 0.7em
	cursor: pointer
#webcalender .edit
	background: #fceabb;
	background: -moz-linear-gradient(top, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93));
	background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	background: -o-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	background: -ms-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	background: linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
	border: 1px solid black
	margin-top:5%
	margin-left:5%
	display: block
	float: left
	width: 1.1em
	height: 1.1em
	text-align: center
	color: black
	font-size: 0.7em
	cursor: pointer
#webcalender .newEvent 
	vertical-align: middle
	display: block
	float: right
	width: 1.3em
	height: 1.3em
	text-align: center
	background-color: #666
	color: black
	font-size: 1em
	cursor: pointer
#webcalender span 
	-webkit-border-radius: 0.65em;
	-moz-border-radius: 0.65em;
	border-radius: 0.65em;
	background: #b4ddb4;
	background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00));
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%);
	background: -o-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%);
	background: -ms-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%);
	background: linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%);
	font-size: 1em
	cursor: pointer
	color: black
#webcalender .termin 
	margin-top:5%
	margin-left:5%
	text-align: left
	float:left;
	clear: both
	display: block
	font-size: 0.7em
	color:black
	background: transparent;
#webcalender .wochenende 
	background-color: #ccc
#getIcs
	position: absolute
	right: 3em
	top: 5em
	width: 185px
	background-color: transparent
	height: 3em
#getIcs ul
	list-style-type: none;
#getIcs a
	-webkit-border-radius: 0.65em;
	-moz-border-radius: 0.65em;
	border-radius: 0.65em;
	text-decoration:none;
	padding: .2em
	border: 1px solid black
	background: #1e5799;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	color: #fff
#eventPanel,
#newPanel, #editPanel 
	position: absolute
	left: 1em
	top: 1em
	width: 400px
	background-image: linear-gradient(bottom, rgb(205,209,208) 47%, rgb(247,247,247) 84%);
	background-image: -o-linear-gradient(bottom, rgb(205,209,208) 47%, rgb(247,247,247) 84%);
	background-image: -moz-linear-gradient(bottom, rgb(205,209,208) 47%, rgb(247,247,247) 84%);
	background-image: -webkit-linear-gradient(bottom, rgb(205,209,208) 47%, rgb(247,247,247) 84%);
	background-image: -ms-linear-gradient(bottom, rgb(205,209,208) 47%, rgb(247,247,247) 84%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.47, rgb(205,209,208)),
		color-stop(0.84, rgb(247,247,247)));
	border: 1px solid
	height: 23em
#editTitle,
#eventTitle,
#newTitle 
	background: #1e5799;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	color: #FFFFFF
	padding: 0.2em
	font-weight: bold
	border-bottom: 1px solid black
#editTitle span,
#eventTitle span,
#newTitle span 
	display: block
	float: right
	width: 1em
	cursor: pointer
	margin-right: .5em
#editBody,
#eventBody,
#newBody 
	padding: 1em .5em
	height: 18em
	overflow: auto
#newForm input, #newForm textarea, #editForm input, #editForm textarea 
	display: block
	margin: 0 0 .5em 0
	padding: .2em
	width: 200px
	font: Arial, Helvetica, sans-serif .75em
	border: 1px solid
	background-color: #D2E9FF
	color: #000000
#newForm textarea, #editForm textarea 
	height: 7em
#newForm input:focus, #newForm textarea:focus, #editForm input:focus, #editForm textarea:focus
	background-color: #FFFFFF
	color: #000000
#newForm label, #editForm label 
	padding: .2em
	color: #000000	
#newForm label:after, #editForm label:after 
	content: " : "
#newForm ul, #editForm ul 
	margin: .2em 0 0 0
	padding: 0
	text-align: right
#newForm li, #editForm li 
	display: inline
#newForm br, #editForm br 
	display: none
#edit,
#newBtnReset,
#newBtnSubmit 
	margin-top: 0.2em
	padding: .2em
	width: auto
	cursor: pointer
	display: inline
	border: 1px solid
	background: #1e5799;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	background: linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
	color: #000000
#footer
	font-size: 0.8em
	color:grey
	margin:auto 0 0 0
	background-color: transparent
	
	
